/* reset page */
@import url('./reset.css');

/* font Raleway import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root { font-size: 62.5%;}

* {font-family: Raleway;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #000000;
    
    width: 144.0rem;
    height: 249.1rem;
}
/*Header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 144.0rem;
    height: 60.5rem;
   
    background-image: url(../images/banner.png) , linear-gradient(hsla(0, 0%, 0%) , hsla(198, 100%, 8%, 0.966) , hsl(0, 0%, 0%));
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center ;
    background-image: ;
    border-bottom:0.1rem  solid ;
    border-color: #33A8DB;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.8rem;
    height: 26.8rem;
    background-color: hsla(0, 0%, 0%, 0.2); 
    border-radius: 50%;   
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1{
    font-size: 4.0rem;
    font-weight: 900;
    text-transform: uppercase;
    
    margin-top: 2.1rem;

    background-image: linear-gradient(#33A8DB , #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p{
    width: 51.0rem;
    height: 4.6rem;
    margin-top: 2.2rem;

    font-size: 2.0rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: justify;   
}

.banner-content button{

    width: 33.6rem;
    height: 5.7rem;
    padding: ;

    font-size: 1.6rem;
    font-weight: 900;
    color: #31A8DD;
    text-transform: uppercase;
    
    letter-spacing: 0.350rem;

    background: none;
    border: 0.2rem solid;
    white-space: nowrap;
    margin-top: 2.2rem;
    border-image-source: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;

    cursor: pointer;
}

.banner-content button:hover {
    background-image: linear-gradient(#3BA1CD, #1572B7);
    color: #000000;
    border: 0;
    transition: 0.8s;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 144.0rem;
    height: 171.6rem;
}

#course-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 144.0rem;
    height: 53.3rem;

    background-color: #000000;
    border-bottom: 0.1rem solid;
    border-color: #33A8DB;
    margin-bottom: ;
}

#course-content h2 {
    width: 47.7rem;
    height: 3.8rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: #33A8DB;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-top: 12.2rem;
}

#course-content p {
    width: 79.2rem;
    height: 3.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-top: 2.8rem;
}

.modules-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 9.0rem;
}

.module {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 53.5rem;
    height: 5.1rem;
    border: 0.1rem solid;
    border-color: #33A8DB;
    border-radius: 3rem;
    background-color: 
    #252525;
    
    font-size: 1.6rem;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    margin-top: 2.4rem;
    

    
}

.module span {
    color: #33A8DB;
    padding-right: 0.4rem;
}

#transform-world {
    display: flex;
    align-items: center;
    justify-content: ;
    
    width: 144.0rem;
    height: 96.0rem;
    background-color: #00000000;
    border-bottom: 0.1rem solid;
    border-color: #31A8DD;
}

#transform-world p {
    width: 24.4rem;
    height: 14.1rem;
    font-size: 4.0rem;
    font-weight: 900;
    color: #FFFFFF;
    text-align: ;
    text-transform: lowercase;
}

#professional-challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 144.0rem;
    height: 82.0rem;
    border-bottom: 0.1rem solid;
    border-color: #33A8DB;
}

#professional-challenges h2 {
    width: 74.6rem;
    height: 7.6rem;

    font-size: 3.2rem;
    font-weight: 700;
    color: #33A8DB;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-top: 7.7rem;
}

#professional-challenges img{
    margin-top: 3.2rem;
}

#professional-challenges p{
    width: 79.2rem;
    height: 7.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-top: 4.7rem;
    margin-bottom: 9.2rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 144.0rem;
    height: 17.0rem;
    background-image: linear-gradient(#000000,#001d29);
}

footer img{
    margin-bottom: 0.5rem;
}

footer p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

footer a {
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    color: #33A8DB;
}