/* reset page */
@import url('./reset.css');

/* font Raleway import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root { font-size: 62.5%;}

* {font-family: Raleway;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #000000;
    

    height: 2491vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 144.0rem;
    height: 60.5rem;
   
    background-image: url(../images/banner.png) , linear-gradient(hsla(0, 0%, 0%) , hsla(198, 100%, 8%, 0.966) , hsl(0, 0%, 0%));
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center ;
    background-image: ;
    border-bottom:0.1rem  solid ;
    border-color: #33A8DB;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.8rem;
    height: 26.8rem;
    background-color: hsla(0, 0%, 0%, 0.2); 
    border-radius: 50%;   
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h1{
    font-size: 4.0rem;
    font-weight: 900;
    text-transform: uppercase;
    
    margin-top: 2.1rem;

    background-image: linear-gradient(#33A8DB , #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p{
    width: 51.0rem;
    height: 4.6rem;
    margin-top: 2.2rem;

    font-size: 2.0rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: justify;
    
}

.banner-content button{

    width: 33.6rem;
    height: 5.7rem;
    padding: ;

    font-size: 1.6rem;
    font-weight: 900;
    color: #31A8DD;
    text-transform: uppercase;
    
    letter-spacing: 0.350rem;

    background: none;
    border: 0.2rem solid;
    white-space: nowrap;
    margin-top: 2.2rem;
    border-image-source: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;

    cursor: pointer;
}

.banner-content button:hover {
    background-image: linear-gradient(#3BA1CD, #1572B7);
    color: #000000;
    border: 0;
    transition: 0.8s;
}